@import "src/layouts/styles/variables"

.footer
  background-color: $mit-dark-gray
  padding: 0

  .columns
    padding: 3rem 0

  .contact-email a
    color: $white

  &-navigation
    li
      margin: 10px 0
      a
        color: $white

  &-social-link
    color: $white
    margin: 0 20px 0 0


.copyright
  padding: 0.5rem
  width: 100%
  background-color: $black
