@import "src/layouts/styles/variables"

.footer
  background-color: $mit-light-gray
  padding: 0

  .columns
    padding: 3rem 0

  a
    color: $white
    &:hover
      color: $mit-red

  &-navigation
    li
      margin: 10px 0

  &-social-link
    color: $mit-dark-gray
    margin: 0 20px 0 0


.copyright
  padding: 0.5rem
  width: 100%
  background-color: $black
  color: $mit-dark-gray
