.initiative-list
  display: flex
  flex-direction: row
  flex-wrap: wrap

.initiative-item
  padding: 1.5em
  width: 100%
  .title
    display: flex
    flex-direction: column
    justify-content: center
    text-shadow: 2px 2px $mit-dark-gray

@media screen and (min-width: $tablet)
  .initiative-item
    width: 50%
    padding: 1.5em

@media screen and (min-width: $desktop)
  .initiative-item
    padding: 1.5em
