@import "src/layouts/styles/variables"
@import "src/layouts/styles/fonts"

.navbar
  min-height: 0px

  .container
    min-height: 0px

  &-brand &-burger span
    color: $white
    height: 2px
    width: 18px

  &-menu
    background-color: transparent

    a.navbar-item
      font-family: "ApexSansBold", Arial, sans-serif
      font-weight: bold
      display: flex
      align-items: flex-end
      &:hover, &.is-active
        color: $mit-red

  &-item img
    max-height: none
    height: auto
    width: 20rem !important

  &.main-navbar
    padding: 0
    background: #ffffff
    box-shadow: 0 0 10px 0 $mit-dark-gray
    width: 100%

  &.top-navbar
    color: $white
    background-color: $black

    a.navbar-item
      color: $white
      padding: 0.3rem 1.0rem 0.3rem 0rem

      &:hover, &.is-active, a.navbar-link:hover, a.navbar-link.is-active
        background-color: transparent !important
        text-decoration: underline
